
* {
   font-family: 'Khula';
}
header {
    background: white;
    box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06);
    position: fixed;
    float: left;
    width: 100%;
    z-index: 20;
 }
 .navbar-brand img, .header-logo img {
    width: 97px;
 }
 .navbar-brand {
    padding-right: 2rem;
 }
 
 .FAQ {
    padding-right: 2rem;
 }
 .Sign-in {
    color: white !important;
    width: 130px;
    background: #0084F4;
    border-radius: 5px;
    text-align: center;
 }
 .Sign-in, .Sign-up {
   margin-top: 0.5rem;
 }
 
 .navlink {
    color: #666666;
    border-bottom: 5px solid transparent;
    padding: 1rem !important; 
 }
 
 #navbarSupportedContent a:hover {
    border-color: #2D9CDB;
 }
 