* {
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-family: Gilroy;
   font-size: 18px;
}
header {
   background: white;
   box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.06);
   position: fixed;
   float: left;
   width: 100%;
   z-index: 20;
}
/* .topnav {
   overflow: hidden;
 }
 
 .topnav a {
   float: left;
   display: block;
   color: #666666;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   border-bottom: 5px solid transparent;
   padding: 1rem !important;
 }
 
 .topnav a:hover {
   text-decoration: none;
   border-color: #2D9CDB;
 }
 
 .topnav a.active {
   border-color: #2D9CDB;
   color: #2D9CDB;
 }
 
 .topnav .icon {
   display: none;
 } */
.navbar-brand img, .header-logo img {
   width: 97px;
}
.navbar-brand {
   padding-right: 5rem;
}

.FAQ {
   padding-right: 4rem;
}
.Sign-in {
   color: white !important;
   width: 130px;
   background: #0084F4;
   border-radius: 5px;
   text-align: center;
}
.Sign-in, .Sign-up {
  margin-top: 0.5rem;
}

.navlink {
   color: #666666;
   border-bottom: 5px solid transparent;
   padding: 1rem !important; 
}

#navbarSupportedContent a:hover {
   border-color: #2D9CDB;
}
.input-container {
   width: 100%;
}
input {
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   border-bottom-style: groove;
   background-color: transparent;
   width: 80%;
}
.section-container {
   background: #E5E5E5; 
   padding-top: 10rem;
   padding-bottom: 5rem;
}
.div-container {
   background: white;
   box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.08);
   border-radius: 8px;
}
.user-container {
   border-bottom: 1px #66666681 solid;
   padding: 1rem;
   padding-left: 4rem;
}
.icon-container {
   border-bottom: 1px #66666681 solid; 
   padding: 1rem;
   padding-left: 4rem;
}
.password-container {
   border-bottom: 1px #66666681 solid; 
   padding: 1rem;
   padding-left: 4rem;
}
.fa-envelope-o, .fa-lock {
   font-size: 1.5rem; 
   color: #666666;
}
.form-control:focus, .no-outline:active {
   background: transparent;
}
.no-outline:focus {
   outline: none;
   background-color: transparent;
}
.Get-Started {
   padding: 3.125rem 0;
   margin-left: 12rem;
}
form {
 margin-left: 12rem;
}
.form-bottom-text {
   padding-top: 2rem;
}
.form-text {
   font-weight: 600;
   padding: 2rem 0 4rem 12rem;
   font-size: 24px;
   margin-left: 12rem;
}
.form-signup {
   margin-top: 2rem;
   width: 75%;
   height: 60px;
   font-size: 24px;
   border-radius: 8px;
}
.form {
   border: 1px solid #666666;
   border-radius: 8px;
   width: 37.5rem;
}
.icon {
   min-width: 50px;
   text-align: center;
}
.form-icon {
   font-size: 1.5rem;
   color: transparent;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #666666;
}

.checkbox {
   width: 100%;
   position: relative;
   display: block;
   margin-left: 10px;
}

.checkbox input[type="checkbox"] {
   width: auto;
   opacity: 0.00000001;
   position: absolute;
   left: 0;
   margin-left: -20px;
}
.checkbox label {
   position: relative;
}
.checkbox label:before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   margin: 4px;
   width: 44px;
   height: 41px;
   transition: transform 0.28s ease;
   border-radius: 3px;
   border: 2px solid #666666;
}
.checkbox label:after {
   content: '';
   display: block;
   width: 15px;
   height: 9px;
   border-bottom: 2px solid #666666;
   border-left: 2px solid #666666;
   -webkit-transform: rotate(-45deg) scale(0);
   transform: rotate(-45deg) scale(0);
   transition: transform ease 0.25s;
   will-change: transform;
   position: absolute;
   top: 16px;
   left: 18px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
   color: #7bbe72;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
   -webkit-transform: rotate(-45deg) scale(1);
   transform: rotate(-45deg) scale(1);
}

.checkbox label {
   min-height: 34px;
   display: block;
   padding-left: 40px;
   margin-bottom: 0;
   font-weight: normal;
   cursor: pointer;
   vertical-align: sub;
}
.checkbox label span {
   position: absolute;
   top: 65%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   padding-left: 30px;
}
.checkbox input[type="checkbox"]:focus + label::before {
   outline: 0;
}
/* .fa-eye {
   padding-right: 2rem;
} */
input.Agree {
   width: 40px;
   height: 40px;
}
.agreement-paragraph {
   position: absolute;
   padding: 10px 40px;
}
.container i {
   margin-left: -30px;
   cursor: pointer;
}
.fa-social {
   padding: 1.5rem;
   color: transparent;
   -webkit-text-stroke-width: 0.5px;
   -webkit-text-stroke-color: white;
}
.page-footer {
   padding-top: 4.5rem;
}
footer {
   background: #151522;
   color: white;
}
footer img {
   width: 175.43px;
}
.footer-text {
   color: #666666;
   padding-top: 25px;
   line-height: 35px;
}
footer a {
   color: white;
}
footer a:hover {
   text-decoration: none;
   color: #0084F4;
}
footer li {
   padding-bottom: 0.5rem;
}
.Explore, .Services, .Follow, .Legal {
   padding-top: 18px;
} 
@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 950px) {

}
@media screen and (max-width: 650px) {

}
@media screen and (max-width: 480px) {
   /* .custom-toggler.navbar-toggler, .custom-toggler .navbar-toggler-icon { 
      border-color: #666666 !important; 
  } 
  .home, .Sign-up {
     margin-left: 0 !important;
  } */
  .Sign-in {
      width: 100%
   }
   .Sign-up {
      margin-left: 15px
   }
   /* .form {
      display: ; 
   }*/
   form, .form-text, .Get-Started, .checkbox {
      padding: 0;
      margin-left: 0;
   }
  .checkbox label {
      margin: 2rem 0 ;
   }
   .checkbox label span {
      font-size: 14px !important;
   }
   .form {
      width: 100%;
   }
   .icon {
      padding-left: 60px;
   }
   .fa-envelope-o{
      padding: 0;
      padding-left: 55px;
   }
   .icon-container, .user-container, .password-container {
      padding-left: 0;
   }
   input {
      width: unset;
      padding-left: 20px;
   }
   .Get-Started {
      padding: 3.125rem 0;
   }
   .form-signup {
      width: 100%;
   }
   .form-text {
      padding: 2rem;
   }

  }

   /* .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;*/