* {
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-family: Gilroy;
   font-size: 18px;
}
.input-container {
   width: 100%;
   border-radius: 0 !important;
}
input {
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   border-bottom-style: groove;
   background-color: transparent;
   width: 80%;
}
.section-container {
   background: #E5E5E5; 
   padding-top: 10rem;
   padding-bottom: 5rem;
}
.div-container {
   background: white;
   box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.08);
   border-radius: 8px;
}
.user-container {
   padding: 1rem;
   padding-left: 4rem;
   border-top-left-radius: 8px !important;
   border-top-right-radius: 8px !important;
}
.icon-container {
   padding: 1rem;
   padding-left: 4rem;
}
.password-container {
   border-bottom-left-radius: 8px !important;
   border-bottom-right-radius: 8px !important;
}

.fa-envelope-o, .fa-lock {
   font-size: 1.5rem; 
   color: #666666;
}
.no-outline:focus {
   outline: none;
   background-color: transparent;
}
.Get-Started {
   padding: 3.125rem 0;
   margin-left: 12rem;
}
form {
 margin-left: 12rem;
}
.form-bottom-text {
   padding-top: 2rem;
}
.form-text {
   font-weight: 600;
   padding: 2rem 0 4rem 12rem;
   font-size: 24px;
   margin-left: 12rem;
}
.form-signup {
   margin-top: 2rem;
   width: 75%;
   height: 60px;
   font-size: 24px;
   border-radius: 8px;
}
.form-signup:focus {
   border: none;
}
.form {
   width: 37.5rem;
}
.icon {
   min-width: 80px;
   text-align: center;
}
.form-icon {
   font-size: 1.5rem;
   color: transparent;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #666666;
}

.checkbox {
   width: 100%;
   position: relative;
   display: block;
   margin-left: 10px;
}

.checkbox input[type="checkbox"] {
   width: auto;
   opacity: 0.00000001;
   position: absolute;
   left: 0;
   margin-left: -20px;
}
.checkbox label {
   position: relative;
}
.checkbox label:before {
   content: '';
   position: absolute;
   left: 0;
   top: 0;
   margin: 4px;
   width: 44px;
   height: 41px;
   transition: transform 0.28s ease;
   border-radius: 3px;
   border: 2px solid #666666;
}
.checkbox label:after {
   content: '';
   display: block;
   width: 15px;
   height: 9px;
   border-bottom: 2px solid #666666;
   border-left: 2px solid #666666;
   -webkit-transform: rotate(-45deg) scale(0);
   transform: rotate(-45deg) scale(0);
   transition: transform ease 0.25s;
   will-change: transform;
   position: absolute;
   top: 16px;
   left: 18px;
}
.checkbox input[type="checkbox"]:checked ~ label::before {
   color: #7bbe72;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
   -webkit-transform: rotate(-45deg) scale(1);
   transform: rotate(-45deg) scale(1);
}

.checkbox label {
   min-height: 34px;
   display: block;
   padding-left: 40px;
   margin-bottom: 0;
   font-weight: normal;
   /* cursor: pointer; */
   vertical-align: sub;
}
.checkbox label span {
   position: absolute;
   top: 65%;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
   padding-left: 30px;
}
.checkbox input[type="checkbox"]:focus + label::before {
   outline: 0;
}

.fa-eye:hover {
   cursor: pointer;
}
input.Agree {
   width: 40px;
   height: 40px;
}
.checkboxError {
   position: absolute;
   left: 4rem;
   padding-top: 0;
   color: #e74c3c;
   visibility: hidden;
}
.agreement-paragraph {
   position: absolute;
   padding: 10px 40px;
}
.exclamationMark {
   visibility: hidden;
   margin-left: -50px;
   color: #e74c3c;
}
.form-control:focus, .no-outline:active {
   background: transparent;
}
.form-control {
   padding: 1rem 0rem 3rem 0 !important;
}
.form-control.error i.fa-exclamation-circle {
   visibility: visible;
}
.form-control small {
   visibility: hidden;
   position: absolute;
   left: 23.5rem;
   padding-top: 0;
   color: #e74c3c;
}
.form-control.error small {
   visibility: visible;
}
.footer-form{
   width: 13.7rem !important;
   margin-left: unset !important;
   border-radius: unset !important;
}
.footer-form input {
   margin: 1rem 0 !important;
   border: unset !important;
}
.footer-form-control {
   padding: 0.375rem 0.75rem !important;
   border-radius: unset !important;
}
@media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 950px) {

}
@media screen and (max-width: 650px) {

}
@media screen and (max-width: 480px) {
   .form {
      display: ;
   }
   form, .form-text, .Get-Started, .checkbox {
      padding: 0;
      margin-left: 0;
   }
  .checkbox label {
      margin: 2rem 0 ;
   }
   .checkbox label span {
      font-size: 14px !important;
   }
   .form {
      width: 100%;
   }
   .fa-envelope-o{
      padding: 0;
   }
   .icon-container, .user-container, .password-container {
      padding-left: 0;
   }

   input {
      width: unset;
   }
   .Get-Started {
      padding: 3.125rem 0;
   }
   .form-signup {
      width: 100%;
   }
   .form-text {
      padding: 2rem;
   }
   /* .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  } */
}