* {
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-family: Gilroy;
   font-size: 18px;
}
.input-container {
   width: 100%;
}
input {
   border-top-style: hidden;
   border-right-style: hidden;
   border-left-style: hidden;
   border-bottom-style: groove;
   background-color: transparent;
   width: 80%;
}
.section-container {
   background: #E5E5E5; 
   padding-top: 10rem;
   padding-bottom: 5rem;
}
.div-container {
   background: white;
   box-shadow: 0px 8px 16px rgba(50, 50, 71, 0.08);
   border-radius: 8px;
}
.user-container {
   padding: 1rem;
   padding-left: 4rem;
}
p {
   margin-bottom: 1rem !important;
}
.password-container {
   border-top: unset !important;
   border: 1px #66666681 solid; 
   padding: 1rem 0 0.5rem 0;
}
.fa-lock {
   font-size: 1.5rem; 
   color: #666666;
}
.form-control:focus, .no-outline:active {
   background: transparent;
}
.no-outline:focus {
   outline: none;
   background-color: transparent;
}
.Welcome-back {
   padding: 3.125rem 0;
   margin-left: 12rem;

}
.forgot-password {
   padding-left: 3.2rem;
}
.forgot-password:hover {
   text-decoration: none;
   color: #2D9CDB;
}
#form {
 margin-left: 12rem !important;
}
.form-bottom-text {
   padding-top: 1rem;
}
.form-signup {
   margin: 2rem 0 5rem 0;
   width: 75%;
   height: 60px;
   font-size: 24px;
   border-radius: 8px;
}
.form {
   border: 1px solid #666666;
   border-radius: 8px;
   width: 37.5rem;
}
.icon {
   min-width: 80px;
   text-align: center;
}
.form-icon {
   font-size: 1.5rem;
   color: transparent;
   -webkit-text-stroke-width: 1.5px;
   -webkit-text-stroke-color: #666666;
}

.exclamationMark {
   visibility: hidden;
   margin-left: -50px;
   color: #e74c3c;
}
.password-control {
   width: 75% !important;
   border-bottom-left-radius: 10px !important;
   border-bottom-right-radius: 10px !important;
}
.form-control {
   padding: 1rem 0rem 3rem 0 !important;
   width: 75% !important;
   border-top-left-radius: 10px !important;
   border-top-right-radius: 10px !important;
   border-bottom-left-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
   /* border-radius: 0 !important; */
}
.form-control.error i.fa-exclamation-circle {
   visibility: visible;
}

.password-control small{
   position: absolute;
   left: 23.5rem;
   padding-top: 0;
   color: #e74c3c;
}

.form-control small {
   visibility: hidden;
   position: absolute;
   left: 23.5rem;
   padding-top: 0;
   color: #e74c3c;
}
.form-control.error small {
   visibility: visible;
}
#togglePassword {
   cursor: pointer;
}

.footer-form-control {
   width: 14rem !important;
   margin-left: unset !important;
   border-radius: unset !important;
}
.footer-form input {
   margin: 1rem 0 !important;
   border: unset !important;
}
.footer-form-control {
   padding: 0.375rem 0.75rem !important;
   border-radius: unset !important;
}
/* @media screen and (max-width: 1024px) {
   
}
@media screen and (max-width: 950px) {

}
@media screen and (max-width: 650px) {

}
@media screen and (max-width: 480px) {
   form, .form-text, .Welcome-back, .checkbox {
      padding: 0;
      margin-left: 0;
   }
   .forgot-password {
      padding-left: 2rem;
   }
   .form {
      width: 100%;
   }
   .icon {
      padding-left: 60px;
   }
   .fa-envelope-o{
      padding: 0;
      padding-left: 55px;
   }
  .user-container, .password-container {
      padding-left: 0;
   }
   input {
      width: unset;
      padding-left: 20px;
   }
   .Welcome-back {
      padding: 3.125rem 0;
   }
   .form-signup {
      width: 100%;
   }
} */