* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    font-size: 18px;
 }

/* ********************************* HEADER SECTION**************************************** */

/* .stu-work {
    width: 50%;
} */
body {
    overflow-x: hidden;
}

.head-section h2 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    align-items: center;

    color: #151522;
}

.head-section {
    background-color: #F8F8F8;
}

.header-text {
    padding-top: 6rem !important;

}

.head-section p {
    font-family: 'gilroy';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    padding: 5% 0;
    background-color: #F8F8F8;

    color: #000000;
}

.head-section button {
    border-radius: 8px;
    color: #FFFFFF;
    width: 151px;
    height: 50px;
    background-color: #0084f4;
    border: none;
    margin-bottom: 15%;
}


/* ************************************SECTION !****************************************** */

.section-1 {
    background-color: #E4E4E4;
    padding: 3%;
}

.com-logo img {
    padding: 1%;
}




/* ************************************ FIND JOB ****************************************** */
.section-3 {
    padding-bottom: 10%;
}

.find-job h5 {
    padding: 4% 0 3% 0;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
}

input {
    border: 1px solid #666666;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 5px;
    height: 50px;
    border-color: #2D9CDB;

}

input:focus {
    color: #2D9CDB;
}

.job-title {
    width: 10%;
    height: 60px;
    border-radius: 8px;
}

.job-title select {
    border: 1px solid #666666;
    width: 250px;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    border-color: #2D9CDB;
    margin-left: 20px;
}

.find-job button {
    border-radius: 8px;
    color: #FFFFFF;
    width: 151px;
    height: 50px;
    background-color: #0084f4;
    border: none;
    margin-bottom: 15%;

}

.stu-img {
    height: 100%;
    width: 100%;
}



select {
    width: 350px;
    height: 30px;
}


.job-card .card {
    /* width: 300px;
    height: 200px; */
    margin: 4%;
    border-radius: 8px;
    border: 1px solid #0011;
    box-shadow: 2px 8px 16px rgba(50, 50, 71, 0.08);
    padding: 3%;

}

.job-card .card:hover {
    outline: auto;
    outline-color: #2F80ED;
}









/* ************************************ SECTION 3 GET HIRED ****************************************** */
.section-3 {
    background-color: #F8F8F8;
}

.get-hired-h3 {
    font-size: 2rem;
    font-weight: 500;
    padding: 4%;

}

.get-hired-h3 span {
    border-bottom: 3px #FF647C solid;
    font-size: 36px;
    padding-bottom: 8px;
}


.steps {
    background: #56CCF2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 0.3rem;
    float: left;
}




.number-text b {
    font-size: 1.5rem;
    background-color: #2F80ED;
    border-radius: 100% !important;
    color: white;
    padding: 15px;
    width: 750px !important;
    height: 50px !important;

}

.number-text span {
    color: #56CCF2;
    font-weight: 500;
    font-size: 80px;
    word-spacing: 10em;
    border-radius: 50%;

}

.step-text p {
    text-align: center;
    width: 70%;
    padding-bottom: 7%;
    margin: auto;
}




/* **********************testimonial************************* */

.testimonial {
    padding: 7%;
}


.testimonial h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    padding: 3%;


}

.testimonial .card {
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.card-footer {
    background: #00C48C;
    border-radius: 0px 0px 12px 12px;
}


.testimonial span {
    border-bottom: 3px #FF647C solid;
    font-size: 36px;
    padding-bottom: 8px;
}


/* *******************plain text********* */

.plain-text {
    background-color: #4EAEFF;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    align-items: center;
    text-align: center;
    padding: 5rem;

}

.plain-text button {
    background: #0084F4;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    margin-top: 2rem;
}


.plain-text button:hover {
    padding: 1.2rem;

}

/* ***********final  section*********** */

.final-section {
    background-color: #F8F8F8;

}

.pad {
    padding-top: 3rem;
}

#hr-2 {
    width: 6.5rem;
    height: 5px;
    background: #FF647C;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 3rem;


}


.final-sect-txt-1 p {

    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 4%;

}


.final-sect-txt-2 {
    padding: 7%;

}

.final-sect-txt-2 h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    color: #666666;
}

.final-sect-txt-2 p {
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2;
    padding: 3%;


    color: #666666;
}

.final-sect-txt-2 span {
    border-bottom: 3px #FF647C solid;
    font-size: 36px;
    padding-bottom: 8px;
}





/* *******************BOTTOM BUTTON SECTION********* */
.buttons {
    background: #FFFFFF;
}

.job-button button {
    color: white;
    background-color: #56CCF2;
    padding: 1rem 2.5rem;
    border: none;
    margin: 0.5rem 0.5rem 0.5rem 0;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.1875rem;


}


.job-button button:hover {
    font-size: 1.03rem;
}

.buttons h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 2.25rem;
    padding: 1rem;

}

.job-button p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.375rem;
    text-decoration: underline;
    padding: 2%;

}


.cv button {
    padding: 1rem 6rem;
    background: #0084F4;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    border: none;

}

.cv button:hover {
    font-size: 1.05rem;
}

.cv p {
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 0.rem;
    color: #666666;
    padding-top: 2%;

}


/* **********************************FOOTER*********************************** */
